NMUGStore.Ui.XamarinForms/NMUGStore.Ui.XamarinForms/NMUGStore.Ui.XamarinForms/Connected Services/MeetingService/MeetingService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/NMUG.WCFHost/MeetingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NMUG.WCFHost" />
  <xs:element name="GetMeetingDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="meetingDateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NMUG.WCFHost" minOccurs="0" name="GetMeetingDetailsResult" nillable="true" type="q1:MeetingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetings">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMeetingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NMUG.WCFHost" minOccurs="0" name="GetMeetingsResult" nillable="true" type="q2:ArrayOfMeetingDetail" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>