NMUGStore.Ui.XamarinForms/NMUGStore.Ui.XamarinForms/NMUGStore.Ui.XamarinForms/Connected Services/MeetingService/MeetingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MeetingService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/NMUG.WCFHost/MeetingService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/NMUG.WCFHost/MeetingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/NMUG.WCFHost/MeetingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NMUG.WCFHost" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMeetingService_GetMeetingDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingDetails" />
  </wsdl:message>
  <wsdl:message name="IMeetingService_GetMeetingDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IMeetingService_GetMeetings_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetings" />
  </wsdl:message>
  <wsdl:message name="IMeetingService_GetMeetings_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMeetingsResponse" />
  </wsdl:message>
  <wsdl:portType name="IMeetingService">
    <wsdl:operation name="GetMeetingDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingService/GetMeetingDetails" message="tns:IMeetingService_GetMeetingDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingService/GetMeetingDetailsResponse" message="tns:IMeetingService_GetMeetingDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMeetings">
      <wsdl:input wsaw:Action="http://tempuri.org/IMeetingService/GetMeetings" message="tns:IMeetingService_GetMeetings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMeetingService/GetMeetingsResponse" message="tns:IMeetingService_GetMeetings_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMeetingService" type="tns:IMeetingService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMeetingDetails">
      <soap:operation soapAction="http://tempuri.org/IMeetingService/GetMeetingDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMeetings">
      <soap:operation soapAction="http://tempuri.org/IMeetingService/GetMeetings" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MeetingService">
    <wsdl:port name="BasicHttpBinding_IMeetingService" binding="tns:BasicHttpBinding_IMeetingService">
      <soap:address location="http://localhost/NMUG.WCFHost/MeetingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>